/* simple reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  line-height: 1.44;
  height: 100%;
}
h1 {
  margin-top: 0;
  font-size: 4.3rem;
}

/* 1.2 type scale minor third 
  4.3rem
  3.583rem
  2.986rem
  ...
  0.694rem
  0.579rem
  0.482rem
*/

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}


pre,
code {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  white-space: pre-wrap;
}
small {
  font-size: 0.777rem;
}

strong {
  color: rgba(255, 162, 87, 1);
}

ul {
  margin: 0 1.44em;
}

/* end of reset */

/* basic styling */

body {
  min-height: 110vh;
  font-family: "Inter", sans-serif;
  color: rgb(240 240 240 /1);
  background-color: rgb(32 32 32 /1);
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
  color: rgb(224 224 224 /1);
}

/* anchor tag pseudo elements */
a{
  font-family: 'Inter', sans-serif;
}
a:link,
a:visited {
  color: rgba(151, 193, 234, 0.85);
  /*transition: color 0.5s;*/
}

a:hover,
a:focus {
  color: rgba(236, 121, 66, 1);
  text-decoration: none;
  /*background-color: rgba(240, 240, 240, 0.15);*/
}
a:active {
  color: rgba(151, 193, 234, 0.85);
}

img {
  max-width: 100%;
  height: auto;
}

/* end of basic styling */


#cal svg {
  width: 24px;
}